.card {
  background-color: white;
  border-radius: 10px;
  max-width: 282px;
  min-height: 361px;
  margin: 0;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  padding-top: 25px;
}

.card__text {
  color: black;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__heart {
  background: transparent url(../images/heart.svg) no-repeat;
  border: none;
  width: 21px;
  height: 21px;
  transition: opacity 0.1s linear 0s;
}

.card__heart_liked {
  background-image: url(../images/heart_solid.svg);
}

.card__heart:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete {
  background: transparent url(../images/card-delete.svg) no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity 0.1s linear 0s;
  z-index: 1;
}

.card__delete:hover {
  opacity: 50%;
  cursor: pointer;
}
