.modal {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s linear;
}

.modal__container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 430px;
  color: black;
}

.modal__container-image {
  position: relative;
}

.modal__card-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__card-image-description {
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

.modal__form {
  margin: 34px 36px 36px 36px;
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__input {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  height: 27px;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__input-error {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: red;
  height: 12px;
}

.modal__input-error_first {
  margin-bottom: 13px;
}

.modal__submit {
  padding: 0;
  margin-top: 36px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
}

.modal__submit:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__submit_disabled {
  background-color: white;
  opacity: 20%;
  border: 2px solid black;
  color: black;
}

.modal__submit_disabled:hover {
  opacity: 20%;
  cursor: auto;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  padding: 0;
  transition: opacity 0.1s linear 0s;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 620px) {
  .modal__container {
    width: 282px;
  }

  .modal__form {
    margin: 25px 22px;
  }

  .modal__title {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__close {
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__image-close {
    right: -30px;
    top: -30px;
    width: 30px;
    height: 30px;
  }

  .modal__close-button-image {
    width: 26px;
  }

  .modal__close-button-image_size_large {
    width: 30px;
  }
}
