.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__cover-wrapper {
  height: 120px;
  margin-right: 30px;
  position: relative;
}

.profile__cover-wrapper:hover .profile__avatar-cover {
  opacity: 20%;
}

.profile__avatar-edit {
  z-index: 1;
  visibility: hidden;
  background: transparent url(../images/edit-avatar.svg) no-repeat;
  border: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  right: 47px;
}

.profile__cover-wrapper:hover .profile__avatar-edit {
  visibility: visible;
}

.profile__avatar-edit:hover {
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description description";
  grid-gap: 7px 18px;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__edit {
  background: transparent url(../images/edit-button_large.svg) no-repeat;
  height: 24px;
  width: 24px;
  border: none;
  grid-area: edit;
  margin: auto;
  transition: opacity 0.1s linear 0s;
}

.profile__edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  grid-area: description;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.profile__add {
  background: transparent;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity 0.1s linear 0s;
}

.profile__add:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button-image {
  height: 22px;
  width: 22px;
}

@media (max-width: 800px) {
  .profile__add {
    width: 50px;
  }

  .profile__name {
    font-size: 32px;
    max-width: 300px;
  }
}

@media (max-width: 620px) {
  .profile {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .profile__info {
    grid-gap: 14px 10px;
  }

  .profile__avatar {
    margin: 0px 0px 30px 0px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
    margin: 0px auto 36px;
  }

  .profile__edit {
    background: transparent url(../images/edit-button_small.svg) no-repeat;
    width: 18px;
    height: 18px;
  }

  .profile__add {
    width: 280px;
    margin: 0px auto;
  }
}
