@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: black;
  color: white;
  margin: 0px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.page__content {
  /* margin: 45px 200px 0px 200px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0px auto;
}

.header {
  margin-bottom: 40px;
}

.header__logo {
  margin-bottom: 40px;
}

.header__line {
  opacity: 0.7;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description description";
  grid-gap: 7px 18px;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
}

.profile__edit {
  background: transparent url(../images/edit-button.svg) no-repeat;
  height: 24px;
  width: 24px;
  border: none;
  grid-area: edit;
  margin: auto;
}

.profile__description {
  grid-area: description;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.profile__add {
  background: transparent url(../images/add-button.svg) no-repeat;
  border: none;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.cards {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 25px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.card__text {
  margin: 0;
}

.card__heart {
  background: transparent url(../images/heart.svg) no-repeat;
  border: none;
  width: 21px;
  height: 21px;
}

.footer__text {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
